html, body {
	width: 100%;
	height: 100%;
	margin: 0;
}

.modalBatallas {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
	margin: 0;
	overflow: auto;
    background-color: lightgray;
}

.modal-contentBatallas {
	background-color: lightblue;
    margin: 3% auto;
    padding: 10px;
    border: 1px solid #888;
    width: 90%;
	height: 350px;
	font-size: 1.5em;
}

#divCombatLog {
	height: 150px;
	overflow-y: scroll;
}

#divImagenPJ, #divImagenMonstruo {
	float: left;
	width: 30%;
	height: 200px;
	margin: 10px 5%;
}

#divNombrePJ, #divNombreMonstruo {
	float: left;
	display: inline-block;
	height: 30px;
	padding: 1px 0 0 4px;
	background-color: white;
}

#divHP {
	float: left;
	clear: both;
	display: inline-block;
	position: relative;
	top: 140px;
	height: 30px;
	padding-left: 4px;
	background-color: white;
}

#divVs {
	float: left;
	width: 20%;
	height: 200px;
	margin: 10px 0;
}

#divVs img {
	width: 50%;
	height: 100px;
	margin: 50px 25%;
}

#divBotones {
	float: left;
	width: 90%;
	height: 150px;
	margin: 5px 5%;
}

#divBotonAtaque, #divBotonObjetos {
	float: left;
	width: 40%;
	height: 80px;
	margin: 25px 5%;
	border: solid 1px black;
	box-sizing: border-box;
	font-size: 2em;
	font-weight: bold;
	text-align: center;
}

#divListaAtaques, #divListaObjetos {
	display: none;
	position: relative;
	width: 100%;
}

#divBotonAtaque:hover #divListaAtaques {
	display: block;
}

#divBotonObjetos:hover #divListaObjetos {
	display: block;
}

.habilidades, .pociones {
	width: 100%;
}

.habilidades:hover .nombreHabilidad, .habilidades:hover .dmgHabilidad, .habilidades:hover .descripcionHabilidad, .pociones:hover .nombrePocion, .pociones:hover .cantidadPocion, .pociones:hover .descripcionPocion {
	background-color: black;
	color: white;
	border: solid .5px white;
}

.nombreHabilidad, .nombrePocion {
	float: left;
	width: 80%;
	height: 50%;
	margin: 0;
	padding: 0;
	font-size: .4em;
	border: solid .5px black;
	box-sizing: border-box;
	background-color: white;
}

.dmgHabilidad, .cantidadPocion {
	float: left;
	width: 20%;
	height: 50%;
	margin: 0;
	padding: 0;
	font-size: .3em;
	border: solid .5px black;
	box-sizing: border-box;
	background-color: white;
}

.descripcionHabilidad, .descripcionPocion {
	float: left;
	width: 100%;
	height: 50%;
	margin: 0;
	padding: 0;
	font-size: .3em;
	font-style: italic;
	border: solid .5px black;
	box-sizing: border-box;
	background-color: white;
}