body {
	background-image: url('../images/imagen.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}
h1 {
	text-align: center;
	color: #FFF;
}
#contenedor {
	padding: 1.5em!important;
	background: rgba(51, 51, 51, 0.75);
	color: #FFF;
}
.dado, .distribucion {
	display: inline-block;
	text-align: center;
	background-color: #797979;
	width: 25%;
    margin: 10px;
    padding: .25em;
    border: 1px solid black;
}
.dado {
	cursor: move;
}
.distribucion {
	background-color: #575757;
	cursor: pointer;
}
.dado > * {
	vertical-align: middle;
}
.oculto {
	visibility: hidden;
}
form {
	text-align: center;
}
form div.habilidades {
	display: inline-block;
	width: 40%;
	box-sizing: border-box;
}
#dados {
	float: left;
	width: 20%;
}