#login {
	margin: auto;
    width: 50%;
    /* border: 3px solid green; */
    padding: 10px;
	/* Centrar en la ventana principal el login */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#login label {
	/* font-size: .6em; */
}
#login span {
	padding-top: .5em;
	/* font-size: .5em; */
}
#login .contenedor {
    padding: .25em .75em;
}
#registro {
	text-align: center;
}
#registro .contenedor {
	text-align: right;
}
#login span.cuenta {
    float: right;
    /* padding-top: .5em; */
}
@media only screen and (max-width: 960px){
	#login form {
		width: 100%;
	}
	#login .contenedor {
		padding: 0;
	}
	#login .contenedor div {
		display: inline-block;
		width: 30%;
	}
}
@media only screen and (max-width: 800px){
	#login .contenedor div {
		display: inline-block;
		width: 80%;
	}
}
@media screen and (max-width: 300px) {
    #login span.cuenta {
        display: block;
        float: none;
    }
}