html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

#autentificado {
	width: 100%;
	/* margin: 200px 0 0 25%; */
}

#autentificado ul {
	width: 50%;
	margin: auto!important;
}

#autentificado ul, #autentificado ul li {
	margin: 0;
	padding: 0; 
	list-style: none;
}

#autentificado ul li {
	display: block;
	font-size: 1.5em;
	font-weight: bold;
	margin: 10px 0;
	box-sizing: border-box;
	border: solid .5px black;
}

#autentificado ul li a {
	margin: 0;
	padding: 0;
	text-decoration: none;
	color: black;
	text-align: center;
}

.menuPrincipal {
	width: 100%;
	height: 52px;
	margin: 0;
	padding: 0;
	line-height: 50px;
}

.menuPrincipal:hover {
	color: white;
	background-color: black;
}