body{
	background-image:url('../images/imagen.jpg');
}

h1{
	text-align: center;
	color:white;
}

.contenedor{
	position:relative;
	margin-left:400px;
	margin-top:100px;
}

.tabla{
	color:white;
}

#mostrar{
	position:relative;
	height:30px;
	width:30px;
	border-radius:10px;
	border:1px white;
	background-color:white;
	margin-left:600px;
	text-align:center;
	padding:5px;
}